body{
    margin:0px;
    font-family: Roboto,sans-serif;

}

.first-section{
    background-color: #1F2937;
    padding:15px 300px;
    height: 600px;
    display:flex;
    flex-direction: column;
}

.info{
    background-color: white;
    padding: 15px 400px;
    height:600px;
    display:flex;
    flex-direction:column;
}

.quote{
    background-color: #E5E7EB;
    padding: 15px 400px;
    height:600px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:26px;
}

.action{
    background-color: white;
    padding: 15px 400px;
    height:600px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.footer{
    background-color: #1F2937;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.header{

    color:#F9FAF8;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    font-size:24px;
    font-weight:bold;
}

.links{
    display:flex;
    gap:25px;
}

a{
    text-decoration: none;
    color:#E5E7EB;
    font-size:18px;
}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.hero-content{
    display:flex;
    gap:20px;
    height:245px;
}

.hero-left{
    flex:1 1 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.hero-img{
    flex:1 1 0;
}

.hero-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-title{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    margin:10px;


}

.hero-paragraph{
    font-size: 18px;
    color:#E5E7EB;
    margin:10px;

}

button{
    padding:8px 20px;
    background-color: #3882F6;
    border-radius:12px;
    border-width: 0;
    color: #E5E7EB;
    font-size:15px;
    font-weight: bold;
    margin:10px;
}

.info-header{
    font-size: 36px;
    font-weight:900;
    color:#1F2937;
    text-align: center;
}

.info-cards{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:70px;



}

.info-pic{
        width:200px;
    height:200px;
    border:5px solid #3882F6 ;
    border-radius: 30px;;
}

.info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    width:210px;
}

.info-text{
    text-align: center;
}

.quote-text{
    font-size: 36px;
    color:#1F2937;
    font-weight: 300;
}

.quote-credit{
    font-weight: 900;
    color:#1F2937;
    align-self: flex-end;
}


.action-card{
    flex:1;
    display:flex;
    background-color: #3882F6;
    padding:20px 100px;
    height:100px;
    border-radius: 10px;;


}

.action-text{
    flex:2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:white;


}

.action-header{
    font-size: 20px;
    font-weight: 900;

}

.action-button{

    flex:1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.action-button button{
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: none;
    width:150px;
}






